@tailwind base;
@tailwind components;
@tailwind utilities;

/* Parallax image on home page */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

/* Testimonial Card Animations */
@keyframes fadeInScaleUp {
  0% {
      opacity: 0;
      transform: scale(0.95);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeInScaleUp 0.6s ease-out forwards;
}

.scale-up {
  animation: fadeInScaleUp 0.6s ease-out forwards;
}
